@if(other)
{
    <!-- BOTTONI FIGHT - ADD /REMOVE -->
}
@else 
{
    <mat-grid-list cols="3" rowHeight="90px" class="stamina">
        @if (player.stamina>=1) {
        <mat-grid-tile>
            <img class="stamina-icon" src="https://i.imgur.com/ZYi4hIb.png" alt="">
        </mat-grid-tile>
        }
        @else {
            <mat-grid-tile>
                <img class="stamina-icon-bw" src="https://i.imgur.com/6EAhrvU.png" alt="">
            </mat-grid-tile>
        }
        @if (player.stamina>=2) {
            <mat-grid-tile>
                <img class="stamina-icon" src="https://i.imgur.com/ZYi4hIb.png" alt="">
            </mat-grid-tile>
            }
        @else {
            <mat-grid-tile>
                <img class="stamina-icon-bw" src="https://i.imgur.com/6EAhrvU.png" alt="">
            </mat-grid-tile>
            }
        @if (player.stamina==3) {
            <mat-grid-tile>
                <img class="stamina-icon" src="https://i.imgur.com/ZYi4hIb.png" alt="">
            </mat-grid-tile>
            }
        @else {
            <mat-grid-tile>
                <img class="stamina-icon-bw" src="https://i.imgur.com/6EAhrvU.png" alt="">
            </mat-grid-tile>
        }
    </mat-grid-list>
}
<div class="fine-stamina">
        <img class="img-gold" src="https://i.imgur.com/pdcKGOO.png" alt="">
        <h1 class="gold ombra"> {{player.gold}} </h1>
        @if (checkGear("gettone")) 
        {
        <h2 class="ombra extragold">{{"+"+checkGear("gettone")?.tier!*5}}</h2>
        }
</div>

<div>
    <img src="https://i.imgur.com/SrkMwdB.png" class="spada size-14 mt-2 mr-0.5" alt="">
    <h2 class=" ombra mindmg"> {{player.playerMinDmg}}</h2>
    <h2 class="ombra maxdmg"> {{player.playerMaxDmg}}</h2>
    @if (checkGear("piuma")) 
    {
        <h2 class="ombra extramindmg">{{"+"+checkGear("piuma")?.tier!*2}}</h2>
    }
    @if (checkGear("pugnale")) 
    {
        <h2 class="ombra extramaxdmg">{{"+"+checkGear("pugnale")?.tier!*4}}</h2>
    }
</div>
<div>
    <img src="https://i.imgur.com/2FDQE3U.png" class="cuore size-8  mr-1" alt="">
    <h2 class="ombra vita">{{player.playerHealth}}</h2>
    @if (checkGear("anello")) 
    {
        <h2 class="ombra extravita">{{"+"+checkGear("anello")?.tier!*10}}</h2>
    }
</div>
