.ombra
{
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.stamina
{
    width: 314px;
    height: 30px;
}

.stamina-icon
{
    transform: scale(1);
    z-index: 100;
}
.stamina-icon-bw
{
    transform: translate(0px, 12px) scale(0.8);
    z-index: 100;
}

.fine-stamina
{
    position: fixed ;
    width: 314px;
    height: 235px;
    border-style: solid;
    border-top-width: 5px ;
    border-color: rgb(114, 68, 23);
}

.img-gold
{
    position: fixed;
    transform: translate(50px,-10px);
}

.gold
{
    position: fixed;
    transform: translate(180px,55px) scale(2);
    color: rgb(255, 235, 184);
}
.spada
{
    position: fixed;
    transform: translate(20px,120px);
}

.cuore
{
    position: fixed;
    transform: translate(170px,136px) scale(1.7);
}

.mindmg
{
    position: fixed;
    transform: translate(105px,125px) scale(2);
    color: rgb(255, 170, 155);
}

.maxdmg
{
    position: fixed;
    transform: translate(105px,160px) scale(2);
    color: rgb(255, 131, 109);
}

.vita
{
    position: fixed;
    transform: translate(250px,138px) scale(2);
    color: rgb(207, 253, 146);
}

.extravita
{
    position: fixed;
    transform: translate(250px,195px) scale(1.5);
    color: rgb(207, 253, 146);
}

.extramindmg
{
    position: fixed;
    transform: translate(80px,195px) scale(1.5);
    color: rgb(255, 170, 155);
}

.extramaxdmg
{
    position: fixed;
    transform: translate(115px,195px) scale(1.5);
    color: rgb(255, 131, 109);
}

.extragold
{
    position: fixed;
    transform: translate(250px,55px) scale(1.5);
    color: rgb(255, 235, 184);
}