<div class="baule-icon-bg"><img class="baule-icon" src="https://i.imgur.com/k8VYYOR.png" alt=""></div>    
<div class="b3">
    <mat-grid-list cols="2" rowHeight="115px" class="inventory-equips">
        <!-- MOCK GEAR INVENTORY -->
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
        <mat-grid-tile class="inventory-equip">
            
        </mat-grid-tile>
            
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="115px" class="inventory-units">
            @for (troop of storageTroops; track $index) 
            {
                <mat-grid-tile>
                    <app-troop-card-idle [troop]="troop"></app-troop-card-idle>
                </mat-grid-tile> 

            }
    </mat-grid-list>

</div>