
<div class="container">
    <!-- PROFILE CARD -->
    <div>
        <app-profile-card class="profileCard" [player]="player"></app-profile-card>
        
    </div>
    <!-- SEARCHBAR -->
    <div class="searchbar">

        <div class="searchbarInput w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-blue-300">
            <input type="text" placeholder="Cerca il nome di un giocatore" style="text-align: left; font-style: italic;" class=" w-full border-none bg-transparent outline-none placeholder:italic placeholder:color focus:outline-none" formControlName="username" required>
            
        </div>


        <div class="searchbarBg"></div>
    </div>
    <!-- LISTA AMICI  -->
    <div class="friendlist">
        <div class="friendContainer">
            @for (friend of friends; track player.id) 
            {
                <app-friend-card [friend]="filterFriend(friend.id)"></app-friend-card>
            }
        </div>


        
    </div>
    <!-- BACKGROUND PERGAMENA -->
    <div class="pergamena">
    </div>
    <div class="friendlistBg"></div>
<div></div>
<div></div>
<div></div>

</div>