<div class="scatola">
    <mat-grid-list cols="3" rowHeight="45rem">
        <mat-grid-tile>
            <app-player-card [player]="player"></app-player-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-pve-fight-log [results]="results" [player]="player" (fightStart)="beginFight()"></app-pve-fight-log>
        </mat-grid-tile>

        <mat-grid-tile>
                <app-pve-player-card [pvePlayer]="pvePlayer" ></app-pve-player-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
