@if (friend) {
<div class="container">
        <img [src]="friend.icon" 
        class="icona rounded-full  h-14 w-14 float-right transition-all ease delay-100 duration-150 hover:-translate-y-0.5 hover:scale-110 z-50"  >
        <div style="transform: translate(25px);"   >
            <h2 class="scritte name"> {{friend.nick}} </h2>
            <h2 class="scritte dmg"> {{friend.playerMinDmg}} - {{friend.playerMaxDmg}}</h2>
            <h2 class="scritte vita"> {{friend.playerHealth}}</h2>
            <img src="https://i.imgur.com/SrkMwdB.png" class="spada" alt="">
            <img src="https://i.imgur.com/gHJqR9t.png" class="cuore" alt="">
                @if (isOnline())
                { 
                    <div class="status status-circle-online"></div>
                    <span class="status-text-online">Online</span>
                }
                @else
                {
                    <div class="status status-circle-offline"></div>
                    <span class="status-text-offline">Offline</span>
                } 
            </div>
    <div>
    </div>


    <!-- <div class="danni">
        <img src="https://i.imgur.com/SrkMwdB.png" class="spada" alt="">
        <h2 class="scritte mindmg"> {{player.playerMinDmg}}</h2>
        <h2 class="scritte maxdmg"> {{player.playerMaxDmg}}</h2>
    </div> -->

</div>
}