<div class="shop-icon-bg"><img class="shop-icon" src="https://i.imgur.com/VhuikVs.png" alt=""></div>
<body class="container">
    <div class="pergamena">
        
        <app-profile-card></app-profile-card>



        <!-- SEZIONE UNITA' ED EQUIP EQUIPAGGIATI -->
        <div class="b2">
            <div class="equip-equip-container">
                <div class="equip-equip">
                    
                </div>
                <div class="equip-equip">
                    
                </div>
                <div class="equip-equip">
                    
                </div>

            </div>

            <mat-grid-list class="equip-unita" cols="2" rowHeight="9.9rem">
                @for (troopInShop of troopsInShop; track troopInShop) 
                {
                    <mat-grid-tile>
                        <div class="truppe">
                            <app-troop-card-idle [troopInShop]="troopInShop"></app-troop-card-idle>
                            <button class="bottoneBuy" (click)="buyButtonClicked()" ></button>             <!-- da aggiungere funzione click-->
                        </div>
                        <img class="goldCost" src="https://i.imgur.com/pdcKGOO.png" alt="">
                        <h2 class="goldCostNumber"> 100</h2>
                    </mat-grid-tile>
                }
            </mat-grid-list>

        </div>

        <app-inventory-card></app-inventory-card>
    </div>
</body>
