@if(player)
{
<div class="shop-icon-bg"><img class="shop-icon" src="https://i.imgur.com/VhuikVs.png" alt=""></div>
<body class="container">
    <div class="pergamena">
        
        <app-profile-card [player]="player"></app-profile-card>



        <!-- SEZIONE UNITA' ED EQUIP EQUIPAGGIATI -->
        <div class="b2">
            <mat-grid-list class="equip-equip-container" cols="1" rowHeight="9.9rem">
                    <mat-grid-tile>
                        <button class="equip-equip">
                            <div>
                            </div>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button class="equip-equip">
                            <div>
                            </div>
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button class="equip-equip">
                            <div>
                            </div>
                        </button>
                    </mat-grid-tile>
            </mat-grid-list>
            <div style="position: absolute;">

                <mat-grid-list class="equip-unita" cols="2" rowHeight="9.9rem">
                    @for (troopInShop of troopsInShop; track troopInShop.id) 
                    {
                    <mat-grid-tile>
                        <div class="truppe">
                            <app-troop-card-idle [troopInShop]="troopInShop"></app-troop-card-idle>
                            <button class="bottoneBuy" (click)="buyButtonClicked(troopInShop.id)" ></button>
                        </div>
                        <img class="goldCost" src="https://i.imgur.com/pdcKGOO.png" alt="">
                        <h2 class="goldCostNumber"> {{troopInShop.price}} </h2>
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </div>
        </div>
        <app-inventory-card [storageTroops]="storageTroops" [storageGears]="storageGears"></app-inventory-card>
    </div>
</body>
}
