.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    width: 26%;
    height: 50%;
    background-image: url("https://i.imgur.com/18WUngc.png");
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.messages {
    margin-bottom: 75%;
    margin-left: 15%;
    padding-right: 4%;
    margin-right: 8%;
    margin-top: 85%;
    width: 100%;
    height: 61%;
    overflow-y: scroll; /* Allows scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: none; /* For Firefox */
}

/* For Webkit browsers like Chrome and Safari */
.messages::-webkit-scrollbar {
    display: none;
}

.attackerStyle
{
    
    border-width: 3px;
    border-color: darkcyan;
    border-style: solid;
}

.defenderStyle
{
    opacity: 1;
    border-width: 3px;
    border-color: rgb(175, 35, 35);
    border-style: solid;
}

.message {
    padding: 10px;
    max-width: 25rem;
    width: fit-content;
    min-height: 2.8rem;
    min-width: 20rem;
    text-align: center;
    margin: 2% 0;
    background-image:url("https://i.imgur.com/1B4UMTQ.png") ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(46, 33, 22, 0.8);
}

.textstyle
{
    color: black;
    opacity: 1;
    font-weight: 500;
}

.bottone {
    position: fixed;
    background-image: url("https://i.imgur.com/twgm68c.png");
    top: calc(50% + 13rem);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 12rem;
    height: 3rem;
    transition: background-image 0.3s ease, transform 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(218, 73, 54);
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

.bottone:hover {
    background-image: url("https://i.imgur.com/WB1cXhE.png");
    transform: translate(-50%, 20%);
}

.button-text {
    transition: transform 0.1s ease;
}

.button-text:hover {
    transform: scale(0.85);
}
