<div class="container">
    <div class="pergamena">
        <div class="container-testo">
            <div style="max-height: 810px; overflow-y: scroll; scrollbar-width: none;">
                <div class="testo">
                    <div style="height: 230px; width: 570px; background-color: rgb(0, 0, 0); transform: translate(240px); border-radius: 9999px; border: 8px rgb(228, 169, 61) solid;">
                        <img class="logo" src="https://i.imgur.com/qVzSN1P.png"  alt="Ever Dominion">
                    </div>
                    <p>
                        <br/>
                        <br/>
                        
                        Ever Dominion è un coinvolgente browser game che unisce lo stile medievale con elementi fantasy per creare un semplice ma avvincente autobattler. 
                        I giocatori si trovano a far scontrare schieramenti di truppe in battaglie automatiche, cercando di accumulare oro e potenziare la propria squadra. 
                        Ambientato in un mondo dall'estetica old school in chiave pixel art, i giocatori affrontano sia altri comandanti come loro,  che schieramenti di goblin e i loro potenti generali in una modalità PvE.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(46, 167, 126);">Schieramenti Personalizzati: </strong><br/> Costruisci e rafforza la tua squadra reclutando nuove unità come cavalieri e arcieri, ognuna con statistiche di vita e attacco randomizzate, ma controllate da un sistema di tiering e classi per evitare di dare le sorti del giocatore totalmente in pasto all'RNG.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(124, 95, 32);">Equipaggiamento del Comandante:</strong> <br/>Acquista accessori ed equipaggiamento per il tuo comandante nello shop del gioco, con la possibilità di potenziarli in seguito, aumentando il tuo potere e influenzando l'esito delle battaglie.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(165, 63, 32);">Leaderboard Competitiva:</strong><br/> Scala le classifiche per dimostrare la tua superiorità strategica (o il troppo tempo libero), monitorando il potere di tutti i giocatori e pianificando la tua ascesa al vertice.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(33, 138, 33);">Modalità PvE:</strong><br/> Oltre alle battaglie contro altri giocatori, si possono affrontare le minacce del mondo di Ever Dominion, combattendo contro goblin e i loro generali in sfide PvE. Questi scontri sono generalmente più facili di un combattimento in PvP, ed è un ottimo modo per acquisire oro senza rischiare troppo.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(42, 140, 179);">Scudo protettivo:</strong> <br/>Per evitare di venire prosciugati di risorse mentre non si è al computer, un comodo scudo a tempo si attiva dopo che si viene attaccati da un altro giocatore.
                    </p>
                    
                    <p>
                        <br/>
                        <strong style="color:rgb(206, 170, 52);">Economia di Gioco:</strong><br/> Guadagna oro sconfiggendo i tuoi nemici e utilizzalo per potenziare il tuo esercito o migliorare l'equipaggiamento del comandante, trovando il giusto equilibrio tra potenza offensiva e difensiva.
                    </p>
                    
                    <p>
                        <br/>
                        <br/>
                        In Ever Dominion, ogni battaglia è un passo avanti verso la dominazione della leaderboard, dove solo i più astuti e preparati possono emergere vittoriosi. Prepara le tue truppe e diventa una leggenda di questo mondo fantasy-medievale!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>