.container
{
    position: fixed;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-left: 17%;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: auto;
    z-index: 49;
}
.pergamena
{
    background-image: url(https://i.imgur.com/5v0OkvQ.png);
    transform: translate(0px,-50px) scale(0.90);
    background-repeat: no-repeat;
    width: 1500px;
    height: 910px;  
}

.testo 
{
    padding: 2rem;
    font-size: larger;
    width: 75%; /* Larghezza del riquadro rispetto alla pergamena */
    height: 100%; /* Altezza del riquadro rispetto alla pergamena */
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo bianco semi-trasparente */
    overflow-y: auto; /* Aggiunge lo scroll se il testo è troppo lungo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombra per risaltare il riquadro */
    border-radius: 10px; /* Angoli arrotondati */
    text-align: center; /* Giustifica il testo */
}

.pve
{
    color:forestgreen;
}