<div class="bg-[url(https://img.freepik.com/free-photo/wood-material-background-wallpaper-texture-concept_53876-42925.jpg?w=1380&t=st=1721665452~exp=1721666052~hmac=0cb4361ee6ada4f0f5385fd1cc54ac10482575981651b3cef9e2ad5ec5f4c193)] bg-no-repeat " 
    style=  "padding-top: 20px;
             min-width: 1200px; height: 150px;
             border-width: 5px; border-color: darkgoldenrod; margin-left: 40px; margin-top: 15px;">
    <div class="card">
        <h1 class="scritte">TROOPS</h1>
    </div>
    <div class="card">
        <h1 class="scritte">EQUIP</h1>
    </div>
    <div class="card">
        <h1 class="scritte">FIGHT</h1>
    </div>
</div>