.card
{
    float: left;
    width: 30%;
    height: 80%;
    margin-left: 2.3%;
    border-radius: 15px;
    border-style: double;
    border-width: 10px;
    border-color: black;
    background-color: #EDC785;
}

.scritte
{
    padding-top: 15px;
    text-align: center;
    text-shadow: black;
    font-size: xx-large;
    font-weight: 800;
}