.eddai
{
    background-image:"https://i.imgur.com/Nt1kyYc.png" ;
    /* style="background-image: https://i.imgur.com/Nt1kyYc.png;" */
}

.scritte
{
    padding-top: 15px;
    text-align: center;
    text-shadow: white;
    color: white;
    font-size: large;
    font-weight: 800;
}
