
.eddai
{
    background-image:"https://i.imgur.com/Nt1kyYc.png" ;
    /* style="background-image: https://i.imgur.com/Nt1kyYc.png;" */
}

.scritte
{
    padding-top: 15px;
    text-align: center;
    text-shadow: white;
    color: white;
    font-size: large;
    font-weight: 800;
}

.icona-immagine
{
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(https://i.imgur.com/S4Vs91H.png);
    border-radius: 9999px;
}

button, a, div
{
    cursor:  url('https://i.imgur.com/KUIo2VB.png'), auto;
}

.logo
{
    transform: translate(0px,5px) scale(1.15);
    width: 200px;
     height: 80px;
    z-index: 100000;
    /* background-image: url(https://i.imgur.com/8hax0qg.png); */
}

.shield
{
    transform: translate(1350px, -305px) scale(0.1);
    position: fixed;
    filter: brightness(0.2);
    
}