<mat-grid-list cols="3" rowHeight="45rem">
    <mat-grid-tile>
        <app-player-card [player]="players[0]"></app-player-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="message-box">
            <button (click)="beginFight()">FIGHT</button>
            <div class="messages">
                <div *ngFor="let message of messages; let i = index; let isLast = last">
                    <div class="message">
                        <span style="color: #d3ae5e; opacity: 1;">{{ message }}</span>
                    </div>
                </div>
            </div>
          </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-player-card [player]="players[1]"></app-player-card>
    </mat-grid-tile>
  </mat-grid-list>
