<mat-grid-list cols="3" rowHeight="45rem">
    <mat-grid-tile>
        <app-player-card [player]="players[0]"></app-player-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="message-box">
            <div *ngFor="let message of messages">                 <!--   DA AGGIUNGERE MAPPA DI MESSAGGI PER POTERLI INCOLONNARE E TENERE LA CRONOLOGIA   -->
                <div><span class="bg-white text-gray-950">{{message}}</span></div>

            </div>

        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <app-player-card [player]="players[1]"></app-player-card>
    </mat-grid-tile>
  </mat-grid-list>
