<div class="container  transition-all ease delay-100 duration-500  hover:scale-y-110 hover:border-6 border-4 bg-transparent h-25 float-left border-black hover:border-amber-600 z-0 hover:z-50 border-solid " style="border-radius: 5px; border-style: solid;">
                <div class="">
                    <img src="https://i.imgur.com/nMGjpHA.gif" 
                        class="image rounded-full h-24 w-24 float-left">
                    <!-- text -->
                    <div class="float-right mt-6 mr-5" style="font-family: cursive; font-weight: 600;"> {{troop.minDamage}}
                        <br style="background-color: transparent;color: black;font-weight: bold;font-size: 16px;"> 
                        {{troop.health}}
                    </div>
                    <!-- imgs -->
                    <div class="float-right">
                        <img src="https://i.imgur.com/Rj6SLYh.png" 
                                class=" size-5 mt-7 mr-0.5">
                        <img src="https://i.imgur.com/gHJqR9t.png" 
                                class=" size-6  mr-1">
                    </div>
                    
                </div>
                    
            </div>
