<button class="chat-bottone" (click)="toggle()">
    <h1 class="testo">Chat</h1></button>
<div class="chatbox" [class]="visibility()">

    <div class="message-box">
        @for (chat of chats; track $index) 
        {
                <div  [class]="alignMessages(chat.player.id)">
                    <img class="icona-messaggio" [src]="chat.player.icon" alt="icona">
                    <h2 class="nick-messaggio">{{chat.player.nick}}</h2>
                   <h2 class="testo-messaggio">{{chat.message}}</h2>
                </div>
        }
    </div>

    <form [formGroup]="chatForm" class="chat-form" (ngSubmit)="sendMessage()">
        <input type="text" class="input-form" formControlName="message">
    </form>

</div>