<div> 
    <div class="card">
        <button [routerLink]="['/fight', leadPlayer.id]">
            <h1 class="scritte ombra float-start" style="display: inline; transform: translate(0px, 5px);"> 
                {{leadPlayer.nick}} -- {{powerCalculator()}}
            </h1>
        </button>
    </div>
</div>
@if(checkIfNotFriend())
{
    <button class="addFriend" (click)="addFriend(leadPlayer .id)"><img src="https://i.imgur.com/rg36R4Y.png" alt=""></button>
}
<div class="popup">
    <h1 class="scritte-popup">Aggiungi amico</h1>
</div>