<div class="container">
    <!-- <div  style="max-height: 587px; overflow-y: scroll;scrollbar-width: none; transform: translate(0px,10px);"> -->
        <!-- <mat-grid-list cols="5" rowHeight="130px" style="margin-top: 10px; max-height: 588px; overflow-y: scroll; scrollbar-width: none;"> -->
        <mat-grid-list cols="1" rowHeight="587px" style="max-height: 587px; overflow-y: scroll;scrollbar-width: none; transform: translate(0px,10px);">
        @for (pvePlayer of pvePlayers; track pvePlayer.id) 
            {
                <!-- <div>
                <img src="https://i.imgur.com/DXvWXU8.png" alt="">
                <button [routerLink]="['/pveFight', pvePlayer.id]" class="pve-card">
                    <mat-grid-tile colspan="1" class="info" style="background-color: #B3B2B1; border-radius: 9990px; max-width: 130px; transform: translate(20px);">
                        <img [src]="pvePlayer.icon" style="transform: scale(1);">
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" class="info">
                        <div>
                            <h1>{{pvePlayer.nick}}</h1>
                            <h2>{{pvePlayer.pveMinDmg}} - {{pvePlayer.pveMaxDmg}}</h2>
                            <h2>{{pvePlayer.pveHealth}}</h2>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile  colspan="2" class="description card">
                        <p>{{pvePlayer.description}}</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" class="reward card">
                        <div>
                            <h1>REWARD</h1>
                            <p>{{pvePlayer.gold}}
                                <img class="img-gold" src="https://i.imgur.com/pdcKGOO.png" alt="">
                            </p>
                        </div>
                    </mat-grid-tile>
                </button>
            </div> -->

            
            <div style="min-height: 130px;max-height: 130px; max-width: 840px; transform: translate(50px, 20px); margin-top: 20px; background-image: url(https://i.imgur.com/DXvWXU8.png); background-repeat: no-repeat;">
                <button [routerLink]="['/pveFight', pvePlayer.id]" style="z-index: 999; max-height: 130px;">
                    
                    <img [src]="pvePlayer.icon" class="pve-icon">
                    <div class="pve-scritte1">
                        <img src="https://i.imgur.com/cQVZaD9.png" alt="" style="transform: translate(-35px,82px) scale(0.6); z-index: 1;">
                        <h1 class="nome-pve">{{pvePlayer.nick}}</h1>
                        <h2 style="transform: translate(-210px,-40px); color: rgb(255, 131, 109); font-size: 150%;">{{pvePlayer.pveMinDmg}} - {{pvePlayer.pveMaxDmg}}</h2>
                        <h2 style="transform: translate(-210px,-35px); color: rgb(169, 250, 64); font-size: 150%;">{{pvePlayer.pveHealth}}</h2>
                        <img src="https://i.imgur.com/SrkMwdB.png" class="spada size-14 mt-2 mr-0.5" alt="">
                        <img src="https://i.imgur.com/2FDQE3U.png" class="cuore size-8  mr-1" alt="">
                    </div>
                    <div class="pve-scritte2">
                        <p>{{pvePlayer.description}}</p>
                    </div>
                    <div>
                        <h1 class="reward">REWARD</h1>
                        <p class="reward" style="transform: translate(360px, -80px);">{{pvePlayer.gold}}
                            <img class="img-gold" src="https://i.imgur.com/pdcKGOO.png" alt="">
                        </p>
                    </div>
                </button>
                
            </div>
            
        }
    </mat-grid-list>
<!-- </div> -->
</div>
<h1 class="campagna">CAMPAGNA</h1>
<img class="ribbon-pve" src="https://i.imgur.com/glhYM4W.png" alt="">
<div class="popup">
    <h1 class="scritte-popup">Campagna</h1>
    <h2 class="scritte-popup">Da qui puoi sfidare i comandanti dei goblin!</h2>
    <h2 class="scritte-popup">Clicca su un comandante per combatterlo!</h2>
</div>
