<div class="container">
    <mat-grid-list cols="5" rowHeight="130px">
        @for (pvePlayer of pvePlayers; track pvePlayer.id) 
        {
            <button [routerLink]="['/pveFight', pvePlayer.id]">
                <mat-grid-tile colspan="1" class="info" style="background-color: #B3B2B1;">
                    <img [src]="pvePlayer.icon" style="transform: scale(0.75);">
                </mat-grid-tile>
                <mat-grid-tile colspan="1" class="info">
                <div>
                            <h1>{{pvePlayer.nick}}</h1>
                            <h2>{{pvePlayer.pveMinDmg}} - {{pvePlayer.pveMaxDmg}}</h2>
                            <h2>{{pvePlayer.pveHealth}}</h2>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile  colspan="2" class="description card">
                    <p>{{pvePlayer.description}}</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" class="reward card">
                    <div>
                        <h1>REWARD</h1>
                        <p>{{pvePlayer.gold}}
                            <img class="img-gold" src="https://i.imgur.com/pdcKGOO.png" alt="">
                        </p>
                    </div>
                </mat-grid-tile>
            </button>
        }
    </mat-grid-list>
</div>

