.container
{
    position: fixed;
    align-items: center;
    width: 60%;
    height: 80%;
    margin-top: -1%;
    margin-top: -1%;
    margin-left: 20%;
    background: transparent;
    overflow: auto;
    filter: invert(0) opacity(0.2) drop-shadow(0 0 1 white);
    
}

.b1
{
    position: fixed;
    transform: translate(-10px,45px);
    background-image: url(https://i.imgur.com/z9aEYQ9.png);
    width: 350px;
    height: 500px;
    
}

.b2
{
    position: fixed;
    transform: translate(420px,-30px);
    float: left;
    background-image: url(https://i.imgur.com/OOnQJRM.png);
    width: 670px;
    height: 500px;
    margin: 2%;
    margin-top: 4%;
}
.b3
{
    position: fixed;
    transform: translate(20px,600px);
    background-image: url(https://i.imgur.com/uZ3g9AX.png);
    width: 1010px;
    height: 249px;
    margin-top: -30px ;
    margin-left: 32px;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(255, 0, 0, 0.185);   
}


.scatola
{
    transform: translate(-100px);
}

.nome
{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding-top: 10px;
    transform: translate(160px, 20px);
    color: rgb(251 191 36);

}
.ruolo
{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding-top: 0px;
    transform: translate(160px, 20px) scale(0.7);
    color: rgb(255, 219, 129);

}
.email
{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding-top: 0px;
    transform: translate(160px, 20px) scale(0.4);
    color: rgb(255, 235, 184);

}

.statistiche-player-box
{
    position: fixed ;
    transform: translate(20px, 160px);
    width: 314px;
    height: 325px;
    border-style: solid;
    border-top-width: 5px ;
    border-color: rgb(114, 68, 23);
}

.ombra
{
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.stamina
{
    width: 314px;
    height: 30px;
}

.stamina-icon
{
    transform: scale(0.6);
    z-index: 100;
}

.fine-stamina
{
    position: fixed ;
    width: 314px;
    height: 235px;
    border-style: solid;
    border-top-width: 5px ;
    border-color: rgb(114, 68, 23);
}

.img-gold
{
    position: fixed;
    transform: translate(50px,-10px);
}

.gold{
    position: fixed;
    transform: translate(180px,55px) scale(2);
    color: rgb(255, 235, 184);
    font-family: Georgia, 'Times New Roman', Times, serif ;

}
.spada
{
    position: fixed;
    transform: translate(20px,120px);
}

.cuore
{
    position: fixed;
    transform: translate(170px,136px) scale(1.7);
}

.mindmg
{
    position: fixed;
    transform: translate(105px,125px) scale(2);
    color: rgb(255, 170, 155);
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.maxdmg
{
    position: fixed;
    transform: translate(100px,160px) scale(2);
    color: rgb(255, 131, 109);
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.vita
{
    position: fixed;
    transform: translate(250px,138px) scale(2);
    color: rgb(207, 253, 146);
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.equip-equip
{
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 3px;
    border-color: rgb(179, 127, 60);
    margin-top: 50px;
    margin-left: 45px;
}

.equip-equip-container
{
    width: 175px;
    height: 470px;
    margin-left: 10px;
}

.equip-unita
{
    position: fixed;
    transform: translate(155px, -510px);
    border-left: rgb(82, 41, 8);
    border-style: solid;
    border-left-width: 4px;
    width: 475px;
    height: 500px;
    margin-left: 25px;
}   

.inventory-equips
{
    position: fixed;
    width: 300px;
    height: 225px;
    max-height: 225px;
    margin-left: -15px;
    margin-top: -35px;
    margin-top: -35px;
    transform: translate(0px,50px);
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.inventory-equip
{
    background-color: rgb(36, 36, 36);
    width: 100px;
    max-width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 3px;
    border-color: rgb(179, 127, 60);
    padding-left: 25px;
    transform: translate(50px,0px);
}

.inventory-units
{
    position: fixed;
    width: 700px;
    height: 225px;
    max-height: 225px;
    margin: 10px;
    transform: translate(300px,4px);
    border-left: rgb(82, 41, 8);
    border-style: solid;
    border-left-width: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}