@if (player) 
{


<body class="container">
    <div class="pergamena">
        
        <app-profile-card [player]="player"></app-profile-card>



        <!-- SEZIONE UNITA' ED EQUIP EQUIPAGGIATI -->
        <div class="b2">
            <mat-grid-list class="equip-equip-container" cols="1" rowHeight="9.9rem">
                @for (gear of player.activeGears; track gear.id)
                {
                    <mat-grid-tile class="equip-equip">
                        <button (click)="switchGearState(gear, true)">
                            {{gear.name}}
                        </button>
                    </mat-grid-tile>
                }
            </mat-grid-list>

            <mat-grid-list class="equip-unita" cols="2" rowHeight="9.9rem">
                @for (troop of player.activeTroops; track troop.id) 
                {
                    <mat-grid-tile>
                        <button (click)="switchTroopState(troop, true)">
                            <app-troop-card [troop]="troop"></app-troop-card>
                        </button>
                    </mat-grid-tile>
                }
            </mat-grid-list>
            <div class="spade-icon-bg"><img class="spade-icon" src="https://i.imgur.com/ednuChZ.png" alt=""></div>
        </div>

        <app-inventory-card 
            [storageTroops]="storageTroops" 
            [storageGears]="storageGears" 
            (switchTroopEvent)="switchTroopState($event, false)"
            (switchGearEvent)="switchGearState($event, false)">
        </app-inventory-card>
        
    </div>
</body>
}



