<button (click)="toggleButton()" [matBadge]="notifications.length > 0 ? notifications.length : 0 " matBadgeOverlap="true" matBadgeSize="large"
    style="width: 30px; height: 30px;background-color: rgb(68, 68, 68);  border-radius: 9999px; border: solid 1px white; margin-right: -15px; margin-top: 4px; transform: scale(1.5); margin-left: 30px;">
    <img src="https://i.imgur.com/sDdgXFQ.png" alt="" style="transform:translate(0px,-2px) scale(0.6) ;">
  </button>

  <div class="chatbox fixed" [style.visibility]="popup">
    <div class="message-box">
        <div class="grid-list">
            <!-- Singola notifica -->
            <div class="messaggio" *ngFor="let notifica of notifiche">
                <div class="nick-messaggio">
                    {{ notifica.nick }}
                </div>
                <div class="testo-messaggio">
                    {{ notifica.testo }}
                </div>
            </div>
        </div>
    </div>

</div>
<div style="background-color: aliceblue;">
    {{test}}
</div>