<div class="container  transition-all ease delay-100 duration-500  hover:scale-y-110 hover:border-6 border-4 bg-transparent h-25 float-left border-black hover:border-amber-600 z-0 hover:z-50 border-solid " 
    style="border-radius: 15px; border-style: solid;"
    [style.background-image]="setBackground()">
    <div class="">
            <img [src]="setSprite()"
            class="image rounded-full h-24 w-24 float-left">
        <!-- text -->
        <div class="numeri float-right mt-9 mr-2" style="font-family: cursive; font-weight: 600;"> {{troop.minDamage+"-"+troop.maxDamage}}
            <br class="numeri" style="background-color: transparent;color: black;font-weight: bold;font-size: 16px;"> 
            {{troop.health}}
        </div>
        <!-- imgs -->
        <div class=" float-right">
            <img src="https://i.imgur.com/Rj6SLYh.png" 
                    class="icon size-6  mr-0.5" style="margin-top: 2.2rem;">
            <img src="https://i.imgur.com/gHJqR9t.png" 
                    class="icon size-6  mr-1" style="margin-top: 3.7rem;">
        </div>
    </div>
</div>