<div class="bg-[url(https://waifu2x.booru.pics/outfiles/5324639d2feefa06945dcaddbf197a66e1d35ce1_s2_n2_y1.jpg)] bg-no-repeat " style="width: fit-content; height: fit-content;border-width: 5px; border-color: darkgoldenrod;margin-right: 50px; margin-top: 25px; float: right;">
    <div class="leaderboard">
        <h1 class="scritte">LEADERBOARD</h1>
    </div>
    
    <div class="card">
        <h1 class="scritte">PLAYER 1 <br> SCORE</h1>
    </div>
    <div class="card">
        <h1 class="scritte">PLAYER 2 <br> SCORE</h1>
    </div>
    <div class="card">
        <h1 class="scritte">PLAYER 3 <br> SCORE</h1>
    </div>
    <div class="card">
        <h1 class="scritte">PLAYER 4 <br> SCORE</h1>
    </div>
    <div class="card">
        <h1 class="scritte">PLAYER 5 <br> SCORE</h1>
    </div>
</div>