<div class="bg-[url(https://i.imgur.com/2f27mSU.png)] leaderboard">

    
    <div class="titolo ombra text-4xl font mb-3 font-extrabold text-amber-400 text-cente">
        <h1 class="scritte" style="margin-left: 33px ;margin-top: -25px;">LEADERBOARD</h1>
    </div>
    
    <div class="leaderboard-list">
        @for (player of players; track player.id) 
        {
            <div class="card pt-1">
                <button [routerLink]="['/fight', player.id]">
                    <h1 class="scritte ombra text-amber-500 float-start" style="display: inline;"> 
                        {{player.nick}} -- {{player.gold}}
                    </h1>
                </button>
            </div>
        }
    </div>
</div>