.leaderboard
{
    width: fit-content;
    min-width: 21.5rem;
    min-height: 670px;
    /* border-width: 5px;
    border-color: darkgoldenrod; */
    padding-right: 5rem;
    padding-left: 20%;
    margin-top: 15%;
    float: right;
    align-content: center;
    background-repeat: no-repeat;
    overflow-x: visible;
    overflow-y: hidden;
    background-image: url(https://i.imgur.com/2f27mSU.png);
}

.ombra
{
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.titolo
{
    position: fixed;
    width: 450px;
    height: 60px;
    margin-left: -110px;
    margin-right: 20px;
    margin-top: -300px;
    padding-top: 30px;
    background-image: url(https://i.imgur.com/Z532LmV.png);
    background-repeat: no-repeat;
    overflow: visible;
    padding-left: 40px;
    font-size: xx-large;
    font-weight: 800;
    font-size: 20%;
    text-align: center;
    text-shadow: black;
    z-index: 999;
}

.card
{
    width: 360px;
    height: 62px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
    background-image: url(https://i.imgur.com/GhF6XMf.png);
    background-repeat: no-repeat;
    overflow-x: visible;
    overflow-y: hidden;
}

.scritte
{
    text-align: left;
    padding-left: 30px;
    text-shadow: black;
    font-size: x-large;
    font-weight: 800;
}

.leaderboard-list
{
    position: fixed;
    height: 33rem;
    width: 30rem;
    align-items: center;
    margin-left: -50px;
    margin-top: -250px;
    margin-bottom: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
    transform: translate(0px, 10px);
}

.addFriend
{
    width: 20px;
    height: 20px;
    transform: scale(1.1) translate(225px, -45px);
    position: fixed;
    filter: brightness(0) invert(1);
    z-index: 1000;
}

.popup
{
    position: fixed;
    width: 400px;
    height: 100px;
    background: linear-gradient(to bottom, #444444, #303030);
    border-radius: 20px;
    border-style: double;
    border-color: rgb(122, 73, 73);
    border-width: 2px;
    /* transform: translate(1510px, -111px) scale(0.1); */
    visibility: hidden;
}

.titolo:hover ~ .popup
{
    visibility: visible;
    transform: translate(-200px) scale(10);
    transition-duration: 500ms;
}
.scritte-popup
{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(251 191 36);
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
    text-align: center;
}
